.notFound {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
        margin: 0 .5rem;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 600; 
    }
}