.backtop {
  width: 100%;
  height: 70px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
    padding-top: 1rem;
  }

  &__button {
    font-size: 14px;
    background-color: #fcfcfc;
    border: 1px solid #000000;
    min-width: 188px;
    padding: 4px;
  }
}
