.product-information {
  position: fixed;
  top: 45px;
  right: 0;
  width: 45%;
  height: 100vh;

  &__inner {
    width: 100%;
    height: 100%;
  }
}

.buy-place {
  display: flex;
  border-bottom: 1px solid #000000;
  &__part {
    height: 45px;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #000000;
  }

  &__button {
    background-color: #eef13fd9;
    border: none;

    & > span {
      font-size: 14px;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.main-place {
  height: 96px;
  border-bottom: 1px solid #000000;
  &__name {
    padding: 30px 0 0 12px;
    font-size: 13px;
    font-weight: 500;
  }
}

.options-place {
  display: flex;
  border-bottom: 1px solid #000000;

  &__title {
      text-transform: uppercase;
    }

  &__part {
    height: 95px;
    width: 50%;

    display: flex;
    padding: 12px 0 0 12px;
    border-right: 1px solid #000000;
  }

  &__size {
    display: flex;
    flex-direction: column;
    border-right: none;

    &__guide-button {
      font-size: 12px;
      margin: 5px 0 0 12px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    & > ul {
      height: 100%;
      padding: 5px 0 5px 0;
      margin: 0;
      display: flex;
      list-style: none;

      & > li {
        height: 36px;
        margin-right: 8px;
        padding: 5px;
        border: 1px solid #00000054;
        cursor: pointer;
      }
    }
  }
}

.shipping-place {
  height: 45px;
  border-bottom: 1px solid #000000;
  & > button {
    height: 100%;
    width: 100%;

    border: none;
    background: transparent;

    & > span:hover {
      text-decoration: underline;
    }
  }
}

.product-details {
  padding: 14px 0 0 12px;
  font-size: 14px;
  font-weight: 300;
  &__title {
    text-transform: uppercase;
    font-weight: 400;
  }
  &__id {
    margin-bottom: 12px;
  }
  &__composition {
    margin-bottom: 12px;
  }
  &__list {
    & > ul {
      margin: 0;
      padding-left: 18px;
    }
  }
}
