.product-in-cart {
    border-bottom: 1px solid #000;
    position: relative;
    
    &__inner {
        display: flex;
        font-size: 13px;
        font-weight: lighter;
    }

    &__image {
        width: 155px;
        min-height: 155px;
        background-position: 50%;
        background-size: cover;
    }

    &__info {
        width: 140px;
        max-height: 155px;
        display: flex;
        flex-direction: column;
        padding: 14px 0 14px 14px;
        border-left: 1px solid #000000;


    }

    &__remove {
        position: relative;
        top: 10px;
        right: 6px;
    }
}