.cart {
	&__button {
		margin-bottom: 8px;
		cursor: pointer;
		> a {
			position: relative;
			width: 16px;
			height: 22px;
		}

		> span {
			position: relative;
		}

		&__count {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			> span {
				display: block;
				color: #fcfcfc;
				font-size: 10px;
				letter-spacing: 0;
				text-align: center;
				width: 16px;
			}
		}
	}

	&__viewport {
		position: absolute;
		top: 45px;
		left: 0px;
		width: 100%;
		height: 0px;

		// background-color: #fcfcfc;
		overflow: hidden;
		transition: height 0.25s ease-in;

		&--open {
			height: calc(100vh - 45px);
		}
	}

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;

		background: #fcfcfc;
		border-left: 1px solid #000000;
		border-bottom: 1px solid #000000;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px;
		height: 45px;
		border-bottom: 1px solid #000000;

		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__remove-button {
		cursor: pointer;

		&:hover {
			text-decoration: line-through;
		}
	}

	&__main {
		max-height: calc(100vh - 245px);
		overflow-y: auto;
		overflow-x: hidden;
	}

	&__product-list {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
	}

	&__total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px;
		border-bottom: 1px solid #000000;
		width: 100%;
		height: 45px;

		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__checkout-button {
		margin: 14px;
		padding: 8px;
		position: relative;
		font-size: 14px;
		background-color: #f0ec16;
		border: none;
		min-width: 188px;

		z-index: 1;
		transition: color 0.15s ease-in;

		&:hover {
			color: #fcfcfc;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;

			background-color: #000000;
			transform: scaleY(0);
			transform-origin: top;
			transition: transform 0.2s ease-in-out;
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}

	&__empty {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}
