.forget-password {
	height: 100%;
	&__inner {
		height: 100%;
	}

	&__header {
		height: 45px;
		position: relative;
		border-bottom: 1px solid;
	}

	&__title {
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__close-btn {
		position: absolute;
		right: 0;
		top: 0;
		padding: 8px;
		cursor: pointer;
	}

	&__form {
		height: calc(100% - 45px);
		display: flex;
		justify-content: center;
		align-items: center;

		& > form {
			width: 33%;
			font-size: 12px;
			font-weight: 300;
		}
	}

	&__input {
		text-align: center;

		& > label {
			margin: 0;
			padding: 6px;
		}
	}

	&__btn {
		text-align: center;
		padding-top: 10px;

		& > button {
			font-size: 10px;
			background-color: #fcfcfc;
			border: 1px solid #000000;
			border-radius: 30px;
			min-width: 100px;
			padding: 4px;

			transition: all 0.1s ease;

			&:hover {
				background-color: #000000;
				color: #fcfcfc;
			}
		}
	}
}
