.footer {
    padding: .5rem;
    font-size: 13px;
    font-weight: 300;

    background: rgba(0, 0, 0, 0.3);
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

    & a,
    & a:hover{
        color: #000000;
    };

    &__subcol {
        margin: 1rem 0;

        & > p {
            margin-bottom: 4px;
        }
        
        & > h6 {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;

        margin: 12px 0 14px 0;
    }
    };

}