.header {
  position: fixed;
  width: 100%;
  z-index: 500;
  // color: #000000;

  &__viewport {
    display: flex;

    padding: 0;
    margin: 0;
    height: 45px;

    background-color: #fcfcfc;
  }

  &__part {
    display: flex;
    align-items: center;
    // padding: 5px 8px;
    margin: 0;

    width: 33.333%;
    height: 100%;

    border-bottom: 1px solid #000000;
  }

  &__logo {
    font-size: 26px;
    font-weight: 800;
    font-family: "Ubuntu", sans-serif;

    border-left: none;

    &-content {
      height: 100%;
      z-index: 200;
    }

    & a {
      color: #000000;

      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
  }

  &__search {
    //  width: 100%;
    position: relative;
    z-index: 200;

    &-content {
      padding: 5px 8px;
      width: 100%;
      height: 100%;
      border-left: 1px solid #000000;
    }
  }

  &__actions {
    position: relative;
    // border-right: none;

    &-content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      border-left: 1px solid #000000;
    }

    &-content > ul {
      display: flex;
      justify-content: space-around;
      list-style: none;

      z-index: 200;
      padding: 0;
      margin: 0;
      & > li {
        padding-right: 14px;
        margin: auto;
      }
    }
  }
}
