.account {
	&__button {
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 600;
		color: #000000;
		cursor: pointer;

		&:hover {
			color: #000000;
			text-decoration: underline;
		}
	}
	&__content {
		position: absolute;
		top: 45px;
		left: 1px;
		height: 0;
		width: 100%;

		overflow: hidden;
		transition: height 0.25s ease-in;

		&--open {
			height: 225px;
		}
	}

	&__inner {
		height: 100%;
		border-bottom: 1px solid #000000;
		background-color: #fcfcfc;

		& > ul {
			padding: 0;
			height: 100%;
			list-style: none;

			& > li {
				padding: 12px;
				height: 45px;
				border-bottom: 1px solid #000000;
			}
		}
	}
}
