.reset-password {
	height: calc(100% - 45px);
	position: relative;
	text-align: center;
	top: 45px;
	left: 0;

	&__inner {
		position: absolute;
		left: 33.33%;
		width: 33.4%;

		height: 100%;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
	}

	&__title {
		padding-top: 12px;

		& > h6 {
			font-size: 14px;
			font-weight: 300;
			text-transform: uppercase;
		}
	}

	&__message {
		margin: 12px 0;
	}

	&__form {
		font-size: 12px;

		& label {
			font-size: 14px;
			font-weight: 300;
			margin: 0;
			padding: 14px;
		}

		& button {
			background-color: #fcfcfc;
			border: 1px solid #000000;
			min-width: 120px;
			padding: 4px;
			border-radius: 14px;
			transition: all 0.1s ease;

			&:hover {
				background-color: #000000;
				color: #fcfcfc;
			}
		}
	}
}
