.toggle-button {
	position: relative;
	height: 16px;
	width: 16px;
	margin-bottom: 6px;

	&__inner {
		width: 100%;
		height: 100%;
		background-color: #000000;
		cursor: pointer;
	}

	&__line {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: 5px;
		height: 16px;

		background-color: #fcfcfc;

		&.horizontal {
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
		}
	}
}
